<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>tensolflow-tomcat webapp</display-name>
  <servlet>
    <servlet-name>hellotensor</servlet-name>
    <servlet-class>org.tensorflow.samples.servlets.TestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>hellotensor</servlet-name>
    <url-pattern>/hellotensor</url-pattern>
  </servlet-mapping>
</web-app>
